@page
@model IndexModel
@{
    ViewData["Title"] = "Simple graphQL POC and playground";
}

<div class="text-center">
    <h1 class="display-4">Simple graphQL POC and playground</h1>
    <p>GraphQL experiment unsing HOT Chocolat library for C#</p>
</div>
